body {
    text-align: center;
}

h1 {
    color: #ffcb05;
    -webkit-text-stroke: 2px #3c5aa6;
    font-size: 3rem;
}

#info {
    font-weight: bold;
}

button {
    background-color: #F00000;
    color: #f0f0f0;
    font-weight: bold;
}

.pokemon-info {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-table {
    border-collapse: collapse;
    width: 60%;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.pokemon-table th, .pokemon-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.pokemon-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.pokemon-image {
    text-align: center;
    padding: 15px;
    background-color: #fff;
}

.pokemon-image img {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.pokemon-table tr:last-child td {
    border-bottom: none;
}

